* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Poppins,sans-serif;
}

/* Nav Bar */
nav{
    display: flex;
    height: 70px;
    padding: 20px 36px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
}

.nav--logo{
    max-width: 100px;
}
/* Main Content */
/*Static Section*/

/*Make any Section Pad by 20px*/
section{
    padding: 20px
}
.static--section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.static--img{
    max-width: 400px;
    align-self: center;
    margin-bottom: 16px;
}

.static--header{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 110%;
    margin: 16px 0px;
}

.static--text{
    margin: 0;
    max-width: 340px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 110%;
}
/*Dynamic Section*/
.dynamic--section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 680px;
    margin: 0 auto !important;
    gap: 18px;
}

.bold{
    font-weight: bold;
}

.card--section{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    position: relative;
}

.card--img{
    width: 100%;
    border-radius: 9px;
    margin-bottom: 9px;
}

.card--badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: bold;
}

.card--rate{
    display: flex;
    align-items: center;
}

.card--img--star{
    width: 14px;
    margin-right: 2px;
}

.card--details{
    font-weight: 300;
    font-size: 12px;
    line-height: 110%;
    margin-bottom: 8px;
}
.card--price{
    margin: 0;
    font-size: 12px;
    line-height: 110%;
}

/*Footer*/
